<%- include('partials/header') %>

<main>
    <section>
        <div class="container">
            <h1>Gerenciamento Mohave</h1>
            <table>
                <caption>
                    <div class="align-row">
                        <h3>Aulas </h3>
                        <a class="btn btn-success" href="../controllers/AulaController.js/cadastrar">Adicionar</a>
                    </div>
                </caption>
                <thead>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </thead>
                
                <tbody>
                    <% aulas.forEach(aula => { %>
                    <tr>
                        <td><img src="<%=personal.image %>" alt=""></td>
                        <td><%= aula.nome %> </td>
                        <td><%= aula.valor %> </td>
                        <td><%= aula.descricao %> </td>
                        <td class="acoes">
                            <form action="/aulas/deletar/<%= aula.id %>?_method=DELETE" method="POST">
                                <a href="/aulas/editar/<%= aula.id %>" class="btn">Editar</a>
                                <button type="submit" class="btn btn-secondary">Deletar</button>
                            </form>
                        </td>    
                    </tr>
                <% })  %>    
                </tbody>
            </table>
        </div>
    </section>
</main>
<%- include('partials/footer') %>
